@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #6912a3 );
    }
    section.login{
        width: 80vw;
       height: 280px;
    }
    section.login > div.imagem{
    width: 30%;
    height: 100%;
    float: left;
    }
    section.login > div.formulario{
        float: right;
        width: 70%;
    }
    section.login > div.formulario > p {
        font-size: 1.0em;
        }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section.login {
        width: 990px;
        height: auto; /* <--- aqui */
        overflow: hidden; /* <--- garante que nada vaze do container */
        
    }

    section.login > div.imagem {
        float: right;
        width: 50%;
        height: 100%;
        min-height: 350px; /* <--- altura mínima pra imagem não cortar */
        background-size: cover; /* <--- pra imagem preencher bem */
        background-position: center;
        
    }

    section.login > div.formulario {
        float: left;
        width: 50%;
        padding: 20px; /* melhora o espaçamento */
    }

    section.login > div.formulario > p {
        font-size: 1.2em;
    }

    div.formulario > h1 {
        text-align: center;
    }
}
